@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 100%;
  
}
.dash-nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: #fff;;
}
.dash-nav-left {
  display: flex;
  width: 80%;
  align-items: center;
}
.User{
  font-size: 20px;
    margin: 0;
}
ul {
  list-style: none;
}
.dash-space {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2%
}
.dash-left {
  display: flex;
  justify-content:center;
  width: 20%
}
.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  transition: all .5s ease;
}
.sidebar header{
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid #b93632;
  color: #b93632;
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display:none;
}
.Logout #logout{
  color: #fff;
  font-size: 25px;
  text-decoration:none ;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 28px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 112.9px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 112.9px;
  opacity: 1;
  visibility: visible;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }

}
.dash-work {
  display: flex;
  justify-content:space-around;
  width: 80%;
}
.Card{
  position: relative;
  width: 150px;
  height: 210px;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  color: #92aecc;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  background: rgb(101,117,135);
  background: radial-gradient(circle, rgba(101,117,135,1) 0%, rgba(39,47,51,1) 100%);
}

.bug-btn{
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  width: 80px;
  color: #92aecc;
  margin-top: 60px;
}
.project-btn{
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  width: 80px;
  color: #92aecc;
  margin-top: 60px;
}

